# dependencies
/node_modules

# testing
/coverage

# build output
/build

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# VSCode
.vscode

# macOS
.DS_Store